/*<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
</style>*/
/* grijs #899CA0 - donkergroen #1C2B32 */



/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/



/*////////////////////////
    1. Global Styles
////////////////////////*/
*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} /* globale reset */

a:link {
    color: gray;
}
a:hover {
    text-decoration: none;
}

main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h2{
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}
/*////////////////////////
    2. Typography
////////////////////////*/
body {
 font-family: 'Poppins', sans-serif;
}



/*////////////////////////
    3. Areas
////////////////////////*/





/*///////////// 3.1 Header /////////////*/
.intro{
    font-weight: 500;
    margin-bottom: 20px;
    color: #1C2B32;
    font-size: 14px;
}
.title{
    font-size: 104px;
    color: #1C2B32;
    margin-bottom: -16px;
    margin-top: -136px;
    font-weight: 800;
}

.header {
    box-sizing: border-box;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 250px 0 350px 0;


}
header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: 100% 800px;
    background-position: center;
}
.inputbeschikbaar{
    border-radius: 30px 0 0 30px;
    height: 60px;
    background: transparent;
    border: 2px solid #1C2B32;
    color: #1C2B32;
    outline: none;
    padding-left: 36px;
    padding-right: 104px;
    width: 360px;

}
input::placeholder {
    color: #1C2B32;
}
.checkbeschikbaar {
    margin: -6px;
    border-radius: 0 30px 30px 0;
    height: 60px;
    background: #1C2B32;
    color: white;
    border: 2px solid #1C2B32;
    padding-left: 12px;
    padding-right: 108px;

}
input[type="submit"]{
    width: 200px;
}


/*///////////// 3.2 Testimonial /////////////*/

.klantverhaal {
    margin-top: 50px;
}
.divblock {
    -webkit-box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 30px 1px rgba(0,0,0,0.2);
    border-radius: 15px;
    margin-bottom: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 160px;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
}
.avatarphoto {
    height: 40px;
    width: 40px;
    margin-top: 12px;
    margin-right: 20px;
}
.quote {
    height: 25px;
    width: 25px;
    margin-left: -32px;
    margin-bottom: -22px;
}
.person {
    display: flex;
    align-items: center;
}
.italic {
    padding-top: 0.5rem;
}

/*///////////// 3.3 Support /////////////*/

img {
    width: 100%;
    border-radius: 12px;
}

.onsteam {
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;

}

.contactbutton {
    border-radius: 30px 30px 30px 30px;
    height: 60px;
    background: #1C2B32;
    color: white;
    border: 2px solid #1C2B32;
    float: left;
    width: 180px;
    margin-top: 15px;


}
.neemcontact {
    margin-top: 50px;
}

/*///////////// 3.4 Faq /////////////*/
details {
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
}
.summarytext {
    background-color: #899CA0;
    color: white;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
}
.gesteldevragen {
    margin-top: 120px;
}

/*///////////// 3.5 Footer /////////////*/

.footer {
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: #1C2B32;
    width: 100%;
    height: 5rem;
    padding-top: 2rem;

}